body {
    background-color: #A0C2DE;
}
.page {
  margin: 20px;
}
.content {
    background-color: #A0C2DE;
    margin: 30px;
    border-radius: 10px;
    padding: 10px;
}
.banner {
    margin: 20px;
}
.for-you{
    margin: 20px;
    background-color: #7592A4;
    padding: 10px;
    border-radius: 10px;
}
.tv{
    margin: 20px;
    background-color: #7592A4;
    padding:10px;
    border-radius: 10px;
}
.movies{
    margin: 20px;
    background-color:#7592A4;
    padding:10px;
    border-radius: 10px;
}
.title {
    margin-left: 20px;
}
.tag {
    color: black;
}
.see-all {
    float: right;
    margin-top: -32px;
    margin-right: 20px;
    color: black;
}
.see-all:hover {
    color: black;
    font-style: oblique;
}
.footer {
  font-size: 32px;
}
.more-box {
  margin:20px;
  padding: 10px;
  border-radius: 10px;
}
.version-text {
  font-size: 15px;
}
a {
    color: black;
    margin-right: 10px;
}
a:hover {
    color: black;
    font-style: oblique;
}
a:active {
    background-color: #6495ed;
}
.spaced {
  margin-bottom: 10px;
}
#tfheader{
  background-color:#c3dfef;
}
#tfnewsearch{
  float:right;
  padding:20px;
}
.tftextinput{
  margin: 0;
  padding: 5px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  border:1px solid #0076a3; border-right:0px;
  border-top-left-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
}
.tfbutton {
  margin: 0;
  padding: 5px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border: solid 1px #0076a3; border-right:0px;
  background: #0095cd;
  background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
  background: -moz-linear-gradient(top,  #00adee,  #0078a5);
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
}
.tfbutton:hover {
  text-decoration: none;
  background: #007ead;
  background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
  background: -moz-linear-gradient(top,  #0095cc,  #00678e);
}
/* Fixes submit button height problem in Firefox */
.tfbutton::-moz-focus-inner {
  border: 0;
  margin-left: 10px;
}
.tfclear{
  clear:both;
}
.search-box {
  background-color: #7592A4;
  padding: 10px;
  margin-left: 10px;
}
.btn {
  margin-top: 10px;
  margin-bottom: 10px;
}
.upped {
  margin-top: -8px;
}
