body {
    background-color: lightgray;
}
.page {
  margin: 10px;
}
.content {
    background-color: slategray;
    margin: 10px;
    border-radius: 10px;
    padding: 30px;
}
.banner {
    margin: 20px;
}
.largeText {
  font-size: 60px;
}
.rec{
    margin: 20px;
    background-color: seagreen;
    padding: 10px;
    border-radius: 10px;
}
.tv{
    margin: 20px;
    background-color: lightseagreen;
    padding:10px;
    border-radius: 10px;
}
.movies{
    margin: 20px;
    background-color: royalblue;
    padding:10px;
    border-radius: 10px;
}
.spaced {
  margin-bottom: 10px;
}
.hor-spaced {
  margin-left: 20px;
  margin-right: 20px;
}
.footer {
  font-size: 50px;
}
