body {
    background-color: #A0C2DE;
}
.page {
  margin: 10px;
}
.content {
    background-color: #A0C2DE;
    margin: 10px;
    border-radius: 10px;
    padding: 30px;
}
.banner {
    margin: 20px;
}
.largeText {
  font-size: 60px;
}
.rec{
    margin: 20px;
    background-color: #7592A4;
    padding: 10px;
    border-radius: 10px;
}
.tv{
    margin: 20px;
    background-color: #7592A4;
    padding:10px;
    border-radius: 10px;
}
.movies{
    margin: 20px;
    background-color:#7592A4;
    padding:10px;
    border-radius: 10px;
}
.spaced {
  margin-bottom: 10px;
}
.hor-spaced {
  margin-left: 20px;
  margin-right: 20px;
}
.footer {
  font-size: 50px;
  color: black;
}
.more-space {
  margin: 20px;
  background-color: #7592A4;
  padding:10px;
  border-radius: 10px;
}
.more-btn {
  padding: 20px;
  margin-top: 20px;
}
.more-btn:hover {
  font-size: 32px;;
}
.upSized {
  height: 100px;
  width: 300px;
  font-size: 30px;
  margin-bottom: 50px;
}
a {
  color: black;
}
.tfbutton{
  height: 60px;
  width: 200px;
  font-size: 30px;
}
