body {
    background-color: #A0C2DE;
}
.content {
    background-color: #7592A4;
    margin: 30px;
    border-radius: 10px;
    padding: 10px;
}
.banner {
    margin: 20px;
}
.title {
    margin-left: 20px;
}
.video-frame {
  overflow: hidden;
  padding: 20px;
  background-color: #7592A4;
  margin: 20px;
}
button:play {
  visibility: hidden;
}
.upSized {
  height: 100px;
  width: 300px;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.btnToDetails {
  margin-bottom: 20px;
  margin-top: 20px;
}
