body {
    background-color: lightgray;
}
.content {
    background-color: slategray;
    margin: 30px;
    border-radius: 10px;
    padding: 10px;
}
.banner {
    margin: 20px;
}
.title {
    margin-left: 20px;
}
.video-frame {
  overflow: hidden;
  padding: 20px;
  background-color: seagreen;
  margin: 20px;
}
button {
  visibility: hidden;
}
