body {
    background-color: lightgray;
}
.page {
  margin: 10px;
}
.content {
    background-color: slategray;
    margin: 10px;
    border-radius: 10px;
    padding: 30px;
}
.banner {
    margin: 20px;
}
.largeText {
  font-size: 60px;
}
.footer {
  font-size: 50px;
}
.insert-episodes {
  margin: 20px;
  background-color: seagreen;
  padding: 10px;
  border-radius: 10px;
}
.mediumText {
  font-size: 40px;
  color: black;
}
.upSized {
  height: 100px;
  width: 300px;
  font-size: 30px;
  margin-bottom: 50px;
}
